<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天房间</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(v,k) in messages">
                    有人说：{{v}}
            </li>
        </ul>
        <textarea v-model="content"></textarea>
        <input type="button" @click="submit" value="发送">
    </div>
</body>
</html>
<script src="vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            ws:null,    // 保存 WebSocket 对象
            content:'',
            messages:[] // 保存所有接收的消息
        },
        // 当 vue 创建时调用
        created: function(){
            let get = GetRequest()
            // 获取 id
            this.ws = new WebSocket('ws://127.0.0.1:9999?room_id='+get.id)
            this.ws.onopen = this.open
            this.ws.onmessage = this.message
        },
        methods:{
            submit:function(){
                this.ws.send(this.content)
                this.content = ''
            },
            open:function(){
                alert('成功');
            },
            message:function(e){
                this.messages.push(e.data)
            }
        }

    });



// 从百度里找到的一个可以接收所有 URL 上?后的参数的函数
// 这个函数会解析 url 上的参数并返回一个对象，保存所有的参数
// 返回数据：{id:1}
function GetRequest() {   
   var url = location.search; //获取url中"?"符后的字串   
   var theRequest = new Object();   
   if (url.indexOf("?") != -1) {   
      var str = url.substr(1);   
      strs = str.split("&");   
      for(var i = 0; i < strs.length; i ++) {   
         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
      }   
   }   
   return theRequest;   
}   
</script>